@mixin phone {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}

.scrollTop {
  position: fixed;
  width: 190vw;
  bottom: 3vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  color: #fdc81e;

  @include phone {
    width: 180vw;
  }
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}