@import "../../index.scss";

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

.rentle {
  width: 100vw;
  height: 100vh;
  // Nav height
  margin-top: 100px;
  border: none;
}
.instructions{
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  @include phone {
    display: inline-block;
    padding-left: 20px;
  }
}
.undrawDistancing{
  max-width: 10%;
  @include phone {
    max-width: 20%;
    float: right;
  }
}
.undrawHandWash{
  max-width: 10%;
  @include phone {
    max-width: 20%;
    float: left;
  }
}


