@import "../../index.scss";

/*
!!! Not a css module !!!
*/

.faq {
  @include container;
  @include page-transitions;
  padding: 50px 0 100px;

  // Header
  header {
    //border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50em;

    h2 {
      //border: 1px solid red;
      font-family: $medium;
      font-size: 3rem;
      max-width: 10em;
      display: flex;
      flex-direction: column;

      span {
        font-size: 2rem;
        color: $yellow;
      }

      @include tablet {
        font-size: 2.5rem;

        span {
          font-size: 2rem;
        }
      }

      @include phone {
        font-size: 2rem;

        span {
          font-size: 1.5rem;
        }
      }

      @include big-desktop {
        font-size: 3.5rem;

        span {
          font-size: 2.5rem;
        }
      }
    }

    > div {
      //border: 1px solid red;
      width: 350px;

      @include phone {
        width: 50vw;
      }
    }
  }

  // Accordion container
  .accordion {
    width: 100%;
    margin: 0 auto;
  }

  // Accordion item
  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  // Question
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;

    // Box border/shadow effect
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 5px 5px 50px #f5f5f5;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 2px 14px #d3d3d3;
      border: 1px solid $yellow;
      .toggle {
        span {
          background: $yellow;
        }
      }
    }

    p {
      font-size: 1.25rem;
      padding: 0 10px;
      margin-top: 15px;
      font-family: $book;
      width: 90%;
    }
  }

  // Answer
  .answer {
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin-bottom: 10px;

    p {
      font-size: 1.25rem;
      padding: 5px 10px;

      @include phone {
        font-size: 1.05rem;
      }
    }

    a {
      color: $black;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    ul {
      list-style-type: none;
      padding: 0 10px;
      li {
        font-size: 1.25rem;
      }
    }
  }

  // Toggle
  .toggle {
    background-color: none;
    width: 50px;
    height: 50px;
    border: 0;
    //border: 1px solid red;
    position: relative;
    outline: none;

    span {
      position: absolute;
      transition: 0.3s;
      background: $black;
      border-radius: 1px;

      &:first-of-type {
        top: 32%;
        bottom: 32%;
        width: 2px;
        left: 52%;
      }

      &:last-of-type {
        left: 36%;
        right: 27%;
        height: 2px;
        top: 48%;
      }
    }

    &.active {
      background-color: transparent;
      span:first-of-type {
        transform: rotate(90deg);
      }

      span:last-of-type {
        transform: rotate(90deg);
        left: 50%;
        right: 50%;
      }
    }
  }

  // Contact
  .contact {
    p {
      padding: 50px 0;
      font-family: $book;
      font-size: 1.5rem;
      text-align: center;
    }

    a {
      color: $black;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
