@import "../../index.scss";

.container {
  @include container;
  @include page-transitions;
  padding: 100px 0 0 0;

  // Header
  header {
    display: flex;
    align-items: center;
    padding: 1em 0 2em;

    @include phone {
      padding: 1em 0;
    }

    h2 {
      font-family: $medium;
      font-size: 3rem;

      @include phone {
        font-size: 2.5rem;
      }

      @include big-desktop {
        font-size: 3.5rem;
      }
    }
  }

  // Story container
  section {
    margin-bottom: 3em;
    display: grid;
    grid-template: 1fr / 1fr;

    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 1em;
    }

    // Heading
    h3 {
      font-family: $book;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 25px;

      background-color: $yellow;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem 0.5rem 0.5rem;

      @include phone {
        width: 100%;
      }

      // Numbering styling
      // span {
      //   background-color: $yellow;
      //   border-radius: 5px;
      //   padding: 2px 7px 2px 10px;
      //   margin-right: 10px;
      // }
    }

    // Text
    p {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      padding: 0 1em 0 0;
      line-height: 1.5;
      font-size: 1.5em;

      @include phone {
        font-size: 1.15rem;
        padding: 1em;
      }

      // @include big-desktop {
      //   font-size: 1.25rem;
      // }
    }

    // Quote
    blockquote {
      grid-column: 1 / 2;

      font-size: 1.25em;
      // max-width: 35em;
      // padding-left: 35px;
      padding: 0 1em 0 2em;
      position: relative;
      z-index: -1;
      margin: 1em 0;

      @include phone {
        font-size: 1.05rem;
      }
    }

    blockquote:before {
      display: block;
      padding-left: 5px;
      content: "\201C";
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      left: 0;
      top: -25px;
      font-size: 70px;
    }

    blockquote cite {
      // font-size: 1.25rem;
      font-style: normal;
      display: block;
      margin-top: 10px;
    }

    blockquote cite:before {
      content: "\2014 \2009";
    }

    img {
      grid-column: 3 / 4;
      grid-row: 2 / 4;

      max-width: 300px;
      max-height: auto;
      @include phone {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
      }
    }

    @include phone {
      blockquote {
        // padding-left: 35px;
        // padding: 0 2em;
      }

      blockquote:before {
        left: 0px;
      }
    }
  }
}
