@import "../../index.scss";

.container {
  @include page-transitions;
  padding: 125px 0 0;

  // Form
  section:first-of-type {
    @include container;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "header aside"
      "form aside";

    // Header
    header {
      //border: 1px solid red;
      grid-area: header;
      padding: 0;
      display: flex;
      margin-bottom: 25px;

      h2 {
        font-family: $medium;
        font-size: 3rem;
        //padding: 25px 0;
      }

      > div {
        display: none;
        //border: 1px solid red;

        img {
          width: 25vw;
          transform: scaleX(-1);
          margin-top: -15vw;
        }
      }
    }

    // Form
    form {
      grid-area: form;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 45em;
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      box-shadow: 5px 5px 50px #f5f5f5;
      padding: 35px 25px;
      //border: 1px solid red;

      label {
        //border: 1px solid red;
        font-size: 1.25rem;
        margin-bottom: 10px;
      }

      input:not([type="submit"]),
      select,
      textarea {
        width: 100%;
        border: none;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        background-color: white;
        font-size: 1.25rem;
        padding: 10px;
        margin-bottom: 15px;
        outline-color: $yellow;
        outline-width: 1px;
      }

      textarea {
        resize: none;
        height: 150px;
        margin-bottom: 25px;
      }

      input[type="submit"] {
        width: 225px;
        background: #e5e5e5;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        font-family: $book;
        font-size: 1.25rem;
        padding: 10px 0;
        transition: all 0.25s ease;
        outline: none;

        &:hover {
          background-color: $yellow;
          border: 1px solid $yellow;
        }

        &:active {
          background-color: white;
          border: 1px solid $yellow;
        }
      }
    }

    // Visual
    aside {
      //border: 1px solid red;
      grid-area: aside;
      width: 100%;
      max-width: 15em;
      margin: 0 auto;
      margin-left: 25px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        transform: scaleX(-1);
      }
    }

    @include phone {
      display: flex;
      flex-direction: column;

      header {
        margin-bottom: 50px;
        > div {
          //border: 1px solid red;
          display: block;
          position: relative;
          top: 25px;
        }
      }

      aside {
        display: none;
      }
    }
  }

  // Location
  section:nth-last-of-type(1) {
    width: 100%;
    background-color: #f5f5f5;
    min-height: 500px;

    > div {
      @include container;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 100px 0;
      > div {
        h3 {
          display: block;
          width: 40%;
          font-size: 2rem;
          font-family: $medium;
        }

        .marker {
          background: none;
          border: none;
          outline: none;
          cursor: grab;
          width: 50px;
          img {
            width: 100%;
          }
        }
      }
      > div {
        width: 50%;

        p {
          font-family: $book;
          font-size: 1.25rem;
          line-height: 1;

          &:first-of-type {
            font-size: 2rem;
            font-family: $medium;
            margin-bottom: 25px;
            padding: 5px 0;
          }

          &:nth-of-type(3) {
            margin-bottom: 25px;
          }

          span {
            font-size: 1.25rem;
          }
        }
      }

      @include tablet {
        flex-direction: column;

        h3 {
          width: 100%;
          margin-bottom: 25px;
        }

        > div {
          width: 100%;

          p {
            &:first-of-type {
              font-size: 1.5rem;
            }
          }
        }
      }

      @include phone {
        flex-direction: column;

        h3 {
          width: 100%;
          margin-bottom: 25px;
        }

        > div {
          width: 100%;

          p {
            &:first-of-type {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
