@import "../../index.scss";

.container {
  @include container;
  @include page-transitions;
  padding: 100px 0 50px;

  // Header
  header {
    display: flex;
    align-items: center;
    padding: 25px 0 50px;

    h2 {
      font-family: $medium;
      font-size: 3rem;

      @include phone {
        font-size: 2rem;
      }

      @include big-desktop {
        font-size: 3.5rem;
      }
    }
  }

  .list {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;

    .talent {
      display: flex;
      flex-direction: column;
      border: 1px solid #dcdcdc;
      box-shadow: 5px 5px 5px #f3f3f3;
      border-radius: 5px;
      margin: 25px 10px;
      overflow: hidden;
      @include phone {
        width: 90%;
        margin: 25px auto;
        max-width: 17em;
      }

      @include tablet {
        width: 30%;
        max-width: 22em;
      }

      @include tablet-landscape {
        width: 22.5%;
      }

      @include desktop {
        width: 22.5%;
      }

      @include big-desktop {
        width: 18%;
      }
    }
    .info {
      padding: 10px;
    }

    h4 {
      font-family: "CircularStd-Medium", sans-serif;
    }

    h4,
    p {
      font-size: 1rem;
      line-height: 1;
    }

    .links {
      display: flex;
      align-items: flex-start;
      padding: 0;
      > a {
        margin-right: 15px;
        // Letter icon
        &:first-child {
          width: 30px;
        }

        // Linkedin icon
        &:nth-child(2) {
          width: 20px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}
.searchContainer {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  min-width: 60vw;
  height: 5vh;
  width: 100%;

  @include phone {
    min-width: 80vw;
    padding: 3px 10px;
    flex-direction: column;
  }
  // Box border/shadow effect
  // border: 1px solid #e5e5e5;
  // border-radius: 0.25rem;
  // box-shadow: 5px 5px 50px #f5f5f5;
  // transition: box-shadow 0.5s ease;
  // &:hover {
  //   box-shadow: 0 2px 14px #d3d3d3;
  //   border: 1px solid $yellow;
  // }

  input {
    width: 100%;
    font-family: $medium;
    // font-size: 1.25rem;
    border: none;
    padding: 0 10px;
    outline: none;
    flex: 1;
    &::placeholder {
      font-family: $book;
      color: gray;
    }
  }
}

.select {
  flex-basis: 30%;
  font-family: $medium;
  // font-size: calc(8px + 1vw);
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  @include phone {
    font-size: 1rem;
    padding: 0px;
  }
}
.search {
  display: flex;
  padding: 10px 0px;
  flex-direction: row;
  .text {
    flex-basis: 70%;
  }
  .submit {
    height: 100%;
    &:hover {
      background-color: $yellow;
    }
  }
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 50px #f5f5f5;
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: 0 2px 14px #d3d3d3;
    border: 1px solid $yellow;
  }
}
